# Built application files
*.apk
*.aar
*.ap_
*.aab

# Dalvik/ART & Java
*.dex
*.class

# Generated folders
/bin/
/gen/
/out/
/build/
/.gradle/
/.cxx/
/.externalNativeBuild/
/.androidide/

# Local configuration
local.properties

# Proguard
proguard/

# Logs
*.log

# IDE files
*.iml
.idea/
.navigation/
captures/

# Keystore (bỏ comment nếu không muốn lộ)
#*.jks
#*.keystore

# Google Services (Firebase config)
google-services.json

# Freeline
freeline.py
freeline/
freeline_project_description.json

# fastlane
fastlane/

# Lint
lint/